body{
    background-color: #ADD8E6;
    text-align: center;
}
#main-div{
    /*display: flex;
    justify-content: center;*/
    margin:auto;
    width: 50%;
    border: 2px gray solid;
    border-radius: 10px;
    background-color: beige;
}
#screen{
    height:80%;
    text-align: end;
    border-radius: 10px;
    background-color: rgb(206, 206, 206);
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    margin:3px
}
#previous-calc{
    border-radius: 10px;
    font-size: 7px;
    padding-right: 5px;
}
#current-calc{
    border-radius: 8px;
    padding-right: 5px;
}